body {
    background-image: url(https://miro.medium.com/max/760/1*zSPtMkp70YN9JDhFRaHHXA.jpeg);
    background-color: rgba(102, 205, 171, 0.61);
}
.content {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: midnightblue;
    color: mintcream;
    opacity: 0.95;
}
h4 {
    text-align: center;
}
#display {
    width: 100%;
    height: 35px;
}
#slider {
    width: 100%;
    

}
#length {
    display: inline-block;
    width: 100px;
    font-size: 1.2rem;
}
button {
    border-radius: 5px;
}
.settings {
    background-color: midnightblue;
    border-radius: 5px;
    height: auto;
    opacity: 0.78;
    padding-left: 10px;
}
.settings_title {
    font-weight: 700;
    font-size: 30px;

}
.set {
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/* Switch -the box around the slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;   
}
/* hide default HTML box*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* slider */
.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}
.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}
  
input:checked + .slider.round {
    background-color: blueviolet;
}
  
input:focus + .slider.round {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider.round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.prev-pas {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: red;
    background-color: midnightblue;
    opacity: 0.9;
    border-radius: 5px;
}
#lastPasswords {
    position: relative;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: oblique;
    margin-top: 15px;
}